#bannerHome {
  @include verticalCenter;
  display: flex;
  width: $width-home;
  height: 223px;
  border-radius: 25px;
  background: rgba(0, 0, 0, 0.3) url(../../assets/img/banner_home.png) center/cover;
  background-blend-mode: darken;

  h1 {
    display: flex;
    color: $color-2;
    position: absolute;
    font-family: $font-2;
    font-size: 48px;
    line-height: 142.6%;



  }

}

#bannerAbout {
  @include verticalCenter;
  display: flex;
  width: $width-home;
  height: 223px;
  border-radius: 25px;
  background: rgba(0, 0, 0, 0.3) url(../../assets/img/banner_about.png) center/cover;
  background-blend-mode: darken;



}