.about {
  display: flex;
  @include verticalCenter;
  flex-direction: column;
}

.about-collapse {
  display: flex;
  padding-top: 30px;
  padding-bottom: 30px;
  flex-direction: column;
  row-gap: 30px;
  margin-bottom: 200px;
  //width: $width-home;
  max-width: calc($width-home*0.82);


}
