.lodging {
    display: flex;
    flex-direction: column;
}


.lightbox {
    border-radius: 25px;
    max-height: 415px;
}



.title {
    display: flex;
    justify-content: space-between;
    padding-top: 35px;
}

.title__title {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    line-height: 51px;
    color: #FF6060;

    .title__location {
        display: flex;
        font-size: 18px;
    }


}


.title__host {
    position: relative;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    display: flex;
    align-items: flex-end;
    text-align: right;

    color: #FF6060;


    img {
        position: relative;
        width: 64px;
        height: 64px;
        border-radius: 100%;
        background: #C4C4C4;
    }

}

.tags-rating {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 20px;

    .tags {
        display: flex;
        column-gap: 20px;

        color: #fff;


        .tag {
            background-color: $color-1;
            border-radius: 10px;
            width: 115px;
            height: 25px;
            @include verticalCenter;
        }

    }

}

.description-equipment {
    display: flex;
    flex-direction: row;
    display: flex;
    padding-top: 30px;
    padding-bottom: 30px;
    column-gap: 30px;
    margin-bottom: 100px;
    width: 100%;

}





@media screen and (max-width: 600px) {
    
    .title__title{font-size: 26px ;}
    .title__location{font-size: 14px;}
    
    .description-equipment{flex-direction: column;row-gap: 30px;}}