.lodging {
    display: flex;
    flex-direction: column;
}


.lightbox {
    border-radius: 25px;
    height: 415 px;
    max-height: 415px;
}



.title {
    display: flex;
    justify-content: space-between;
    padding-top: 35px;
}

.title__title {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    line-height: 51px;

    //align-items: flex-end;

    color: #FF6060;

    .title__location {
        display: flex;
        font-size: 18px;
    }


}


.title__host {
    position: relative;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 142.6%;

    /* or 26px */
    display: flex;
    align-items: flex-end;
    text-align: right;

    color: #FF6060;


    img {
        position: relative;
        width: 64px;
        height: 64px;
        border-radius: 100%;
        background: #C4C4C4;
    }

}

.tags-rating {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 20px;

    .tags {
        display: flex;
        column-gap: 20px;

        color: #fff;


        .tag {
            background-color: $color-1;
            border-radius: 10px;
            width: 115px;
            height: 25px;
            @include verticalCenter;
        }

    }

}

.description-equipment {
    display: flex;
    flex-direction: row;
    display: flex;
    padding-top: 30px;
    padding-bottom: 30px;
    column-gap: 30px;
    margin-bottom: 100px;
    width: 100%;

}